/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&display=swap');
body {
  padding: 0;
  margin: 0;
}
.navbar {
  background-color: blue;
}
.nav-item .nav-link {
    color: white;
    font-weight: 600;
    font-size: 18px;
}
  
.navbar-brand {
    color: white !important;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
  }
a{
text-decoration: none;    
}
.btn{
    font-weight: 600;
    color: white !important;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
.todo-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    justify-content: center;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}
.form-label{
    font-size: 18px;
    font-weight: 600;
}
.text-center{
  margin: 10px auto;
}
.form-control{
  margin: 10px auto;
}
.form-field{
  width: 20%;

}

.todo-show{
  display: flex;
  flex-direction: column;
}
.todo-p{
  font-size: 18px;
  font-weight: 600;
}
.sachin{
  display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 10px 0px;
}
.btn{
  width: 100px;
  margin: auto 10px;
}